<div class="card mb-3">
  <h1 class="card-header">Add your new list:</h1>

<%= simple_form_for(list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn-submit-movie mt-3' %>
<% end %>

</div>

<div class="card">
  <div class="card-body">
    <%= link_to "All Lists", lists_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
