<div>
  <h1>Add your new list:</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "Write the list name here" %>
    <%= f.input :image, as: :file %>
    <%= f.submit "Add" %>
  <% end %>
</div>

<div>
  <%= link_to "All Lists", lists_path %>
</div>
